.services {
    position: relative;

    &__img {
        width: 100%;
        height: 100%;
    }

    &__upper-element {
        background-color: rgba($color-blue, 0.7);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__list {
        list-style: none;
        text-align: center;
        padding: 0;

        & > li {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.6rem;
            margin-bottom: 1rem;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}